/* Base Application Styles */

html, body {
  color: #fff;
  background: #222;
  width: 100%;
  height: 100%;
  @at-root {
    &.waiting {
      * {
        cursor: progress!important;
      }
    }
  }
}

.img-box-container {
  position: relative;
  width: 90%;
  min-width: 380px;
  margin: 80px auto 0;
  @at-root {
    .img-box {
      position: absolute;
      left: 0;
      top: 0;
      width: 360px;
      box-sizing: border-box;;
      border: 2px solid #fff;
      &.waiting {
        visibility: hidden;
      }
    }
    .load-more-btn {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 30px;
      line-height: 30px;
      background-color: lighten(#222, 1);
      text-align: center;
      cursor: pointer;
    }
  }
}
